@import url('sanfrancisco.css');

* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    height: 100vh;

}
.main-left {
    height: 100%;
    background-color: #1F285D;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    text-align: center;
    flex: 0 0 50%;
    order: -1;
    position: fixed;
    width: 50%;
}

/*.photo-info {
    position: fixed;
    height: 100%;
}*/
.main-right {
    padding-left: 50%;
    width: 50%;
    color: #1F285D;
    margin: 50px;
    margin-left: 0px;
}

.flex {
    display: flex;
    margin: 20px auto;
    max-width: 80%;
}

.title {
    flex: 0 0 20%;
}

.about ul {
    padding-left: 40px;
}

li {
    margin: 10px;
    margin-left: 0;
}

li:first-child {
    margin-top: 0px;
}

li:last-child {
    margin-bottom: 0px;
}

.profile-picture {
    width: 200px;
    /*box-shadow: 0 0 33px rgba(255, 255, 255, .8);*/
}

p {
    margin: 0 auto 10px auto;
}

.things-title {
    margin: 10px auto;
}

.project-info ul {
    list-style-type: none;
}

.project-info li p {
    padding-left: 20px;
}

.links-all {
        width: 40%;
        display: flex;
        margin: 0;
        align-content: space-between;
        justify-content: space-between;
}

.profile-picture {
    /*border-radius: 50%;*/
    margin-bottom: 40px;
}

h4 {
    font-weight: 500;
}

h4 a {
    margin: 20px 0 10px 0;
    color: #525B90;
}

h4:first-child {
    margin-top: 0;
}

.email {
    color: white;
    text-decoration: none;
}

.email i {
    margin-left: 10px;
}

.photo-info * {
    margin-top: 10px;
}

.links-all a {
    color: #1F285D;
}

@media only screen 
  and (max-device-width: 736px) { 
    .container {
        flex-direction: column;
        font-size: 36px;
    }
    .main-left, .main-right {
        width: 100%;
    }
    .main-left {
        position: relative;
        margin-left: 0px;
        min-height: 500px;
    }
    .main-right {
        margin: auto;
        padding: 0;
    }
    .flex {
        max-width: 90%;
        flex-wrap: wrap;
    }
    .links-all {
        width: 100%;
    }
    .title {
        text-align: center;
        margin: 20px auto 20px auto;
    }
    .project-info li p {
        padding-left: 40px;
    }
    .profile-picture {
        width: 400px;
    }
}

@media only screen 
    and (min-device-width: 414px)
    and (max-device-width: 736px) {
        .profile-picture {
            width: 200px;
        }
    }
