* {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
html { font-size: 16px; }
.hidden { display: none; }
p {
    -webkit-font-smoothing: antialiased;
    color: #C8C8C8;
    font-family: Helvetica;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 22px;
}
a {
    border-bottom: 1px solid #FFFFFF;
    color: #C8C8C8;
    font-weight: bold;
    text-decoration: none;
}
a:hover { border-bottom: 1px solid rgba(255,255,255,0.5); }
.social { margin: auto; width: 50%; }
.social li { display: inline; list-style-type: none; }
.social a { border-style: none; margin: 0 10px; text-decoration: none; }
.social a:link,#navlist a:visited { border-style: none; opacity: 0.4; text-decoration: none; }
.social a:hover { border-style: none; opacity: 0.6; text-decoration: none; }
.social img {
    -webkit-filter: brightness(0) invert(1);
    border: none;
    filter: brightness(0) invert(1);
    height: 50px;
    width: 50px;
}
.about {
    background: rgba(255,255,255,0.1);
    margin: auto;
    padding: 10px;
    width: 75%;
}
.info p { color: #D8D8D8; }
div.name { margin-top: 5%; }
h1 { color: #E8E8E8; font-size: 3.375rem; text-align: center; }
h2 { color: #E8E8E8; font-size: 2.25rem; text-align: center; }
.about { margin-bottom: 20px; text-align: center; }
hr {
    background-color: red;
    border: 0 none;
    height: 5px;
    margin: 2.25em auto;
    width: 35px;
}
button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #E8E8E8;
    color: #E8E8E8;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px auto;
    outline: none;
    overflow: hidden;
    padding: 10px;
}
@media (max-width: 600px) {
            .social { width: 90%; }
}
.wrapper { text-align: center; }

