@import url('sanfrancisco.css');

* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    height: 100vh;

}
.main-left {
    height: 100%;
    background-color: #1F285D;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    text-align: center;
    flex: 0 0 50%;
    order: -1;
    position: fixed;
    width: 50%;
}

/*.photo-info {
    position: fixed;
    height: 100%;
}*/
.main-right {
    padding-left: 50%;
    width: 50%;
    color: #1F285D;
    margin: 50px;
}

.flex {
    display: flex;
    margin: 20px auto;
    max-width: 600px;
}

.title {
    flex: 0 0 30%;
}

.about ul {
    padding-left: 40px;
}

li {
    margin: 10px;
}

li:first-child {
    margin-top: 0px;
}

li:last-child {
    margin-bottom: 0px;
}

.profile-picture {
    width: 200px;
}

p {
    margin: 0 auto 10px auto;
}

.things-title {
    margin: 10px auto;
}

.project-info ul {
    list-style-type: none;
}

.project-info li p {
    padding-left: 20px;
}

.links-all {
        width: 40%;
        display: flex;
        margin: 0;
        align-content: space-between;
        justify-content: space-between;
}

@media only screen 
  and (max-device-width: 736px) { 
    .container {
        flex-direction: column;
        font-size: 36px;
    }
    .main-left, .main-right {
        width: 100%;
    }
    .main-left {
        position: relative;
        margin-left: 0px;
        min-height: 500px;
    }
    .main-right {
        margin: auto;
        padding: 0;
    }
    .flex {
        max-width: 90%;
    }
    .links-all {
        width: 100%;
    }
}
